{{ define "main" }}
<noscript>
  <p>
    Normalmente, esta página te redirigiría a una palabra aleatoria, pero JavaScript está desactivado en tu navegador.
    No solo respeto tu decisión de desactivarlo, sino que la comparto, así que a continuación tienes una lista desordenada de las palabras de esta página:
  </p>
  <ul>
  {{ range (shuffle .RegularPages) }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
  {{ end }}
  </ul>
</noscript>
<script type="text/javascript">
  const keepHistory = false
  loadRandomPage(keepHistory)
</script> 
{{ end }}