{{ define "main" }}
  <article>
    <h2 id="word">{{ .Title }}</h2>
    <p id="meaning">
      <!--
      {{ with .Param "meaning_order" }}{{ . }}.{{ end }}
      {{ with .Param "part_of_speech" }}{{ . }}{{ end }}
      {{ with .Param "marks" }}{{ range . }}{{ . }} {{ end }}{{ end }}
      -->
      {{ .Content }}
      <!--
      {{ with .Param "usage_notes" }}{{ range . }}{{ . }} {{ end }}{{ end }}
      -->
    </p>
    <aside>
      <!--input id="button-share" type="button" value="🔗 Compartir"></input-->
      {{ $next := index (where .Site.RegularPages "Section" .Section | shuffle) 0 }}
      <a
        id="button-generate"
        href="{{ with $next }}{{ .Permalink }}{{ end }}"
        onclick="loadRandomPage(true); return false"
      ><input type="button" value="🔄 Otra palabra" autofocus /></a>
    </aside>
    <script type="text/javascript">
      const button = document.getElementById('button-generate')
      button.removeAttribute('href')
    </script>
  </article>
{{ end }}