{{ define "main" }}
  <article>
    <dl>
      <dt><h2 id="word">{{ .Title }}</h2></dt>
      <dd id="meaning">
        <!--
        {{ with .Param "meaning_order" }}{{ . }}.{{ end }}
        {{ with .Param "part_of_speech" }}{{ . }}{{ end }}
        {{ with .Param "marks" }}{{ range . }}{{ . }} {{ end }}{{ end }}
        -->
        {{ .Content }}
        <!--
        {{ with .Param "usage_notes" }}{{ range . }}{{ . }} {{ end }}{{ end }}
        -->
      </dd>
    </dl>
    <aside>
      <!--<button id="button-share">&x1f517; Compartir</button>-->
      {{ $next := index (where .Site.RegularPages "Section" .Section | shuffle) 0 }}
      <a href="{{ with $next }}{{ .Permalink }}{{ end }}">
        <button id="button-generate"
          onclick="loadRandomPage(true); return false"
          autofocus
        >&#x1f504; Otra palabra</button>
      </a>
    </aside>
    <script type="text/javascript">
      const link = document.getElementById('button-generate').parentElement
      link.removeAttribute('href')
    </script>
  </article>
{{ end }}