html {
	box-sizing: border-box;
	background-color: #3498db;
	transition: background-color ease .5s;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

{{ range .Data.bg_colors -}}
html.{{ index . "name" }} {
	background-color: {{ index . "cssValue" }};
}
{{- end }}

body {
	color: #ffffff;
	font-family: 'Liberation Sans', 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	-webkit-text-size-adjust: 100%;
}

body a:link,
body a:visited,
body a:active {
	color: #ffffff;
	text-decoration: none;
}

main {
	display: flex;
	min-height: 100%;
	max-width: 40rem;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

main > * {
	width: 100%;
}

h1 {
	font-size: 1.9rem;
}

#title {
	display: inline-block;
	float: right;
	text-align: right;
	padding: 1rem 2rem;
	margin: 0;
	text-overflow: ellipsis;
	overflow: auto;
}
#title > span {
	display: inline-block;
}

article {
	text-align: justify;
	padding: 1rem 2rem;
	margin: 0;
	line-height: 1.5em;
}

article #meaning {
	margin-left: 0;
}

aside {
	text-align: center;
	margin-top: 2em;
}

button {
	cursor: pointer;

	font-size: 1rem;
	color: inherit;

	margin: .25em;
	padding: 0.5em 0.75em;
	border: none;
	border-radius: 0.25em;

	background: #9BA3AE no-repeat .5em center;
	background-size: 1.1em auto;
	background-color: rgba(0, 0, 0, 0.1);

	outline: none; /* Remove WebKit glossy border */
}
button:focus,
button:hover {
	background-color: #798392;
	background-color: rgba(0, 0, 0, 0.2);
}
button::-moz-focus-inner {
	border: none; /* Remove Gecko dotted border */
}
